<!DOCTYPE html>
<html ng-app="todosApp">
  <head>
    <meta charset="utf-8">
    <title>BUCKET LIST</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/todosController.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-src="https://s-media-cache-ak0.pinimg.com/564x/33/78/65/337865896546aafde78f3d4df503640e.jpg">
    <div class="container main" ng-controller="TodosController as todosCtrl">
    <h2> You are down to {{allTodos.length}} to go, keep on moving </h2>
    <form class="form-inline" id="add-todo" ng-submit="addTodo()">
    <label class="sr-only" for="todosCtrl.newTodo.task">Task</label>
    <input class="form-control" type="text" placeholder="Is there anything you are wishing to do next?" ng-model="todosCtrl.newTodo.task"/>
    <label class="sr-only" for="todosCtrl.newTodo.done">Done?</label>
    <input class="form-control" type="text" placeholder="Are you done with this?" ng-model="todosCtrl.newTodo.done"/>
  </body>
</html>
